@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --header_menu_width:20vw;
}

 .header_mui_menu > *{
    width: var(--header_menu_width)!important;
    
}

.header_mui_menu_btn{
    padding: 1vh 0.2vw !important;

    background-color: transparent !important;
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    gap: 5vw;
    width: var(--header_menu_width);
    
} 

@layer base {
    .test_style{
        @apply text-red-400
    }
    /*Common stylings*/

    .page_padding {
        @apply px-0.5vw
    }
    /*Common stylings*/


    /*Header page*/

    .header-top-strip{
        @apply border-b-2 border-b-color_3b4149 bg-color_131921
    }

    .test_btn{
        @apply bg-red-700
    }
    /*Header page*/
    

}